compile_commands.json
.clang-format
.ccls-cache/*
experiment/
build/
hbuild/
test/build/
subprojects/*
!subprojects/*.wrap
benchmark/sgc
benchmark/std
benchmark/compile_commands.json
benchmark/out.json
examples/*
!examples/*.c
!examples/*.h
!examples/makefile
